Repository fortran-lang/fpm, pull requests merged in 2020-12, with the labels that each got.

#259 Reorder README to focus on the Fortran fpm version
  README.md
Labels: documentation

#262 Add -fcoarray=single to default gfortran flags
  bootstrap/src/Fpm.hs
Labels: fpm-haskell

#248 Refactor backend for incremental rebuilds
  fpm/src/fpm.f90
  fpm/src/fpm_backend.f90
  fpm/src/fpm_model.f90
  fpm/src/fpm_sources.f90
  fpm/src/fpm_strings.f90
  fpm/src/fpm_targets.f90
  fpm/test/fpm_test/main.f90
  fpm/test/fpm_test/test_backend.f90
  fpm/test/fpm_test/test_module_dependencies.f90
Labels: fpm-fortran

#268 Fix dependency tracking issue in bootstrap version
  bootstrap/src/Build.hs
  bootstrap/src/BuildModel.hs
  bootstrap/unit_test/ModuleToCompileInfoTest.hs
  bootstrap/unit_test/ProgramToCompileInfoTest.hs
  bootstrap/unit_test/SubmoduleToCompileInfoTest.hs
Labels: fpm-haskell

#273 Update developer documentation (manifest + command line)
  docs.md
  fpm/src/fpm/toml.f90
  fpm/src/fpm_command_line.f90
Labels: documentation

#286 Implement check for duplicated program names
  fpm/src/fpm/manifest/package.f90
  fpm/test/fpm_test/test_manifest.f90
Labels: fpm-fortran

#266 Dependency handling
  fpm/app/main.f90
  fpm/fpm.toml
  fpm/src/fpm.f90
  fpm/src/fpm/cmd/update.f90
  fpm/src/fpm/dependency.f90
  fpm/src/fpm/git.f90
  fpm/src/fpm/manifest.f90
  fpm/src/fpm/toml.f90
  fpm/src/fpm/versioning.f90
  fpm/src/fpm_command_line.f90
  fpm/src/fpm_filesystem.f90
  fpm/src/fpm_model.f90
  fpm/test/fpm_test/main.f90
  fpm/test/fpm_test/test_package_dependencies.f90
  fpm/test/help_test/help_test.f90
Labels: fpm-fortran

#280 Create specification for example section
  bootstrap/src/Fpm.hs
  bootstrap/test/Spec.hs
  ci/run_tests.bat
  ci/run_tests.sh
  example_packages/README.md
  example_packages/with_examples/.gitignore
  example_packages/with_examples/demo/prog.f90
  example_packages/with_examples/fpm.toml
  fpm/src/fpm.f90
  fpm/src/fpm/dependency.f90
  fpm/src/fpm/manifest.f90
  fpm/src/fpm/manifest/build.f90
  fpm/src/fpm/manifest/example.f90
  fpm/src/fpm/manifest/package.f90
  fpm/src/fpm_command_line.f90
  fpm/src/fpm_model.f90
  fpm/src/fpm_targets.f90
  fpm/test/fpm_test/test_manifest.f90
  manifest-reference.md
Labels: fpm-fortran, fpm-haskell, specification

#304 Remove note on not supported dependencies in program targets
  manifest-reference.md
Labels: documentation

#257 Implement fpm-install command
  ci/run_tests.bat
  ci/run_tests.sh
  fpm/app/main.f90
  fpm/src/fpm.f90
  fpm/src/fpm/cmd/install.f90
  fpm/src/fpm/installer.f90
  fpm/src/fpm/manifest/install.f90
  fpm/src/fpm/manifest/package.f90
  fpm/src/fpm_command_line.f90
  fpm/src/fpm_environment.f90
  fpm/src/fpm_filesystem.f90
  fpm/src/fpm_strings.f90
  fpm/test/cli_test/cli_test.f90
  fpm/test/fpm_test/main.f90
  fpm/test/fpm_test/test_installer.f90
  fpm/test/fpm_test/test_manifest.f90
  fpm/test/help_test/help_test.f90
  manifest-reference.md
Labels: fpm-fortran, specification
