Repository fortran-lang/fpm, pull requests merged in 2020-11, with the labels that each got.

#224 Create a reference for the package manifest
  README.md
  manifest-reference.md
Labels: documentation, specification

#225 Refactor backend for static libraries
  fpm/src/fpm.f90
  fpm/src/fpm_backend.f90
  fpm/src/fpm_model.f90
  fpm/src/fpm_sources.f90
  fpm/src/fpm_targets.f90
  fpm/test/fpm_test/test_module_dependencies.f90
Labels: fpm-fortran

#209 Add automatic documentation for Fortran fpm
  PACKAGING.md
  doc/Contributing.md
  doc/License.md
  doc/Manifest.md
  doc/Packaging.md
  doc/index.md
  doc/media/favicon.ico
  docs.md
  fpm/src/fpm.f90
  fpm/src/fpm/cmd/new.f90
  fpm/src/fpm/manifest.f90
  fpm/src/fpm/manifest/build_config.f90
  fpm/src/fpm/manifest/dependency.f90
  fpm/src/fpm/manifest/executable.f90
  fpm/src/fpm/manifest/library.f90
  fpm/src/fpm/manifest/package.f90
  fpm/src/fpm/manifest/test.f90
  fpm/src/fpm/toml.f90
  manifest-reference.md
Labels: documentation, fpm-fortran

#220 Compiler and flags
  bootstrap/package.yaml
  bootstrap/src/Build.hs
  bootstrap/src/Fpm.hs
  bootstrap/test/Spec.hs
  ci/run_tests.bat
  ci/run_tests.sh
  example_packages/auto_discovery_off/.gitignore
  example_packages/program_with_module/.gitignore
  example_packages/with_c/.gitignore
  fpm/test/new_test/new_test.f90
Labels: fpm-haskell

#229 Refactor run command
  fpm/app/main.f90
  fpm/src/fpm.f90
  fpm/src/fpm_command_line.f90
  fpm/src/fpm_sources.f90
  fpm/test/cli_test/cli_test.f90
Labels: fpm-fortran

#233 Allow linking against external libraries
  ci/run_tests.bat
  ci/run_tests.sh
  example_packages/README.md
  example_packages/link_executable/.gitignore
  example_packages/link_executable/app/main.f90
  example_packages/link_executable/fpm.toml
  example_packages/link_external/.gitignore
  example_packages/link_external/app/main.f90
  example_packages/link_external/fpm.toml
  example_packages/link_external/src/wrapped_gemv.f90
  fpm/fpm.toml
  fpm/src/fpm.f90
  fpm/src/fpm/manifest/build_config.f90
  fpm/src/fpm/manifest/executable.f90
  fpm/src/fpm/manifest/test.f90
  fpm/src/fpm/toml.f90
  fpm/src/fpm_backend.f90
  fpm/src/fpm_model.f90
  fpm/src/fpm_sources.f90
  fpm/src/fpm_targets.f90
  fpm/test/fpm_test/test_manifest.f90
  manifest-reference.md
Labels: fpm-fortran, specification

#221 Test and executable runner options
  bootstrap/src/Fpm.hs
  bootstrap/test/Spec.hs
Labels: fpm-haskell

#247 Refactoring of manifest types
  fpm/src/fpm.f90
  fpm/src/fpm/manifest.f90
  fpm/src/fpm/manifest/build.f90
  fpm/src/fpm/manifest/dependency.f90
  fpm/src/fpm/manifest/executable.f90
  fpm/src/fpm/manifest/library.f90
  fpm/src/fpm/manifest/package.f90
  fpm/src/fpm/manifest/test.f90
  fpm/src/fpm_sources.f90
  fpm/test/fpm_test/test_manifest.f90
Labels: fpm-fortran
