Repository fortran-lang/fpm, pull requests merged in 2021-03, with the labels that each got.

#352 Hacky fix for the help test
  fpm/test/help_test/help_test.f90
  fpm/test/new_test/new_test.f90
Labels: fpm-fortran

#378 Add ford-compatible documentation to fpm_strings.f90
  fpm/src/fpm_command_line.f90
  fpm/src/fpm_compiler.f90
  fpm/src/fpm_environment.f90
  fpm/src/fpm_filesystem.f90
  fpm/src/fpm_strings.f90
Labels: documentation, fpm-fortran

#397 Add Conda install instructions to the README
  README.md
Labels: documentation

#390 Implement --flag option for Fortran fpm
  ci/run_tests.bat
  ci/run_tests.sh
  fpm/src/fpm.f90
  fpm/src/fpm_command_line.f90
  fpm/src/fpm_compiler.f90
  fpm/src/fpm_filesystem.f90
  fpm/test/cli_test/cli_test.f90
  fpm/test/fpm_test/main.f90
  fpm/test/fpm_test/test_filesystem.f90
Labels: fpm-fortran
